__pycache__/
venv/
foo*
flipkart/build/
flipkart/project.egg-info/
flipkart/scrapinghub.yml
flipkart/flipkart/__pycache__/
after_search.png
flipkart/flipkart/spiders/__pycache__/
.env
test.py
tempCodeRunnerFile.py
build/
scraper.log
output.json
